@import url(https://fonts.googleapis.com/css?family=Bangers);

body {
  background-color: rgb(209, 236, 255);
}

h1 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size:6em;
  color: red;
  -webkit-text-stroke: 2px black;
  text-shadow: -4px 6px black
}

h2 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size:4em;
  color: red;
  -webkit-text-stroke: 2px black;
  text-shadow: -4px 6px black    
}

.tick-tack-toe {
  width:462px;
  height:462px;
  background-color: #fff;
  margin:auto;
  border: solid black 2px;
}

.boardsize {
    width:562px;
    height:100px;
    margin:0 auto;
}

.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 12px;
    width: 100%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: rgb(248, 123, 73); 
    color: #fff; 
    border: 2px solid rgb(235, 102, 13);
}

.button1:hover {
    background-color: rgb(243, 226, 170);
    color: rgb(48, 49, 48);
}

.styled-select {
   height: 29px;
   overflow: hidden;
   width: 140px;
   border: none;
   background-color: #779126; 
    color: #fff;
    border-radius: 20px;
}

form {
    margin: 150px 150px 150px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 12px;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;

}

.symbol {
  background-color: #f7fde6;
  color: #4b4b4a;
  font-size:14px;
}

.board {
    width:300px;
    height:300px;
    margin:0 auto;
}

.cell {
    width:100px;
    height:100px;
    margin:0 auto;
    border:1px solid black;
}